body {
    font-family: "Roboto";
    font-weight: 300;
}

.main-image {
    border: solid 4px black;
    border-radius: 50%;
}

h1 {
    background-color: #e2e2e2;
    padding: 5px;
    font-weight: 900;
}

.section-title {
    text-transform: capitalize;
}
